# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add 'unittest/unittest.vcxproj.filters'
# add 'unittest/unittest.vcxproj.user'

/unittest/Debug
/unittest/Release
/**/x64/Debug
/**/x64/Release
**/unittest.vcxproj.filters
**/unittest.vcxproj.user
